<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-input [(ngModel)]="badgeCount" placeholder="Enter badge count"></ion-input>
  <ion-button expand="block" (click)="setBadgeCount()">Set Badge Count</ion-button>
  <ion-button expand="block" (click)="clearBadgeCount()">Mark all as read</ion-button>

  <br>
  <ion-input [(ngModel)]="messageText" label="Message to send" fill="outline" labelPlacement="stacked"></ion-input>
  <ion-button expand="block" fill="outline" (click)="sendMessage()">Send Message</ion-button>

</ion-content>
